menu "sevetest30 Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default ""
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default ""
	help
		WiFi password (WPA or WPA2) for the example to use.
		Can be left blank if the network has no security set.

    
config LOCAL_TZ 
    string "the time zone of your area"
    default "CST-8"
    help
        the time zone of your area

config NTP_SERVER_0
    string "the first ntp server name"
    default "ntp.aliyun.com"
    help
        the first ntp server name

config NTP_SERVER_1
    string "the second ntp server name"
    default "ntp1.aliyun.com"
    help
        the second ntp server name

config NTP_SERVER_2
    string "the third ntp server name"
    default "ntp2.aliyun.com"
    help
        the third ntp server name



config BAIDU_SPEECH_ACCESS_KEY
    string "Baidu speech access key ID"
    default ""
    help
        Baidu speech Access key ID

config BAIDU_SPEECH_SECRET_KEY
    string "Baidu speech access secret"
    default ""
    help
        Baidu speech Access secret

config BAIDU_ERNIE_BOT_ACCESS_KEY
    string "Baidu ERNIE-Bot access key ID"
    default ""
    help
        Baidu ERNIE-Bot Access key ID
        
config BAIDU_ERNIE_BOT_SECRET_KEY
    string "Baidu ERNIE-Bot access secret"
    default ""
    help
        Baidu ERNIE-Bot Access secret





config IP_138_TOKEN
    string " ip138 position access token"
    default ""
    help
        you could get a free token if you haven't had it , just click "https://user.ip138.com/ip/"

  
config WEATHER_API_KEY
    string "weather server access keyID"
    default ""
    help
        you could get a free keyID if you haven't had it , just click "https://dev.qweather.com/"

choice WEATHER_API_URL
        prompt "weather server access keyID"
        default WEATHER_API_FREE_URL
        help
          Need replace the default host name "devapi.qweather.com" with "api.qweather.com" if you pay for a Qweather VIP keyID
    
    config WEATHER_API_FREE_URL
        bool "free_url"

    config WEATHER_API_VIP_URL
        bool "vip_url"
    
endchoice

config HIGH_TEMP
    int "highest temperature"
    default 40
    help
        what's the highest temperature in your living place,may be 40 degrees Celsius,please enter degree centigrade.

config LOW_TEMP
    int "lowest temperature"
    default 12
    help
        what's the lowest temperature in your living place,may be 12 degrees Celsius,please enter degree centigrade.

config COMFORT_TEMP
    int "comfortable temperature"
    default 26
    help
        what's the comfortable temperature do you think,may be 26 degrees Celsius,please enter degree centigrade.

config PUBLIC_DIVISOR
    int "public divisor"
    default 20
    help
        A common divisor that wants the difference between temperature and the three thresholds to be partially and equally mapped to 0-1, 
        so that it should always be greater than the difference between temperature and any three thresholds to a reasonable extent

endmenu